button.navbar-toggler {
  position: relative;
  justify-content: flex-start;
}

nav.navbar{
  justify-content: space-between;
}

div.collapse navbar-collapse{
  justify-content: space-between;
}

body {
  font-family: 'Helvetica'
}

.container-fluid{
  position: relative;
  display: flex;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 10em;
  color: white;
  /* font-style: italic; */
  letter-spacing: 8px;
}


/* main {
  padding: 1em;
} */

div {
  flex-direction: column;
}



div.image {
  display:flex;
}

#image1 {
  object-fit:cover;
}

div.centre {
  justify-content: center;
  display:flex;
  flex-direction: row;
  color: grey;
}

div.socialmediaicons{
  /* margin: auto; */
  width: 30%;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin-top: 50px
}

#sign-up {
  text-align: center;
  display: block;
  margin-top: 40px;
}

div.card-header {
  font-size: 1.2em;
  justify-content: center;
  text-align: center;
}

div.carousel-inner {
  height: 800px;
  object-fit: cover;
}

/* a.instagram {
  padding: 1px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
} */

/* svg.instagram-svg {
  colour: blue;
  width: 20px;
} */

/* img.carouselImage {
  height: 500px;
  object-position: center;
  justify-content: center;
  display: block;
} */
/*
div.carousel-inner{
  justify-content: center;
} */
