button.navbar-toggler {
  position: relative;
  justify-content: flex-start;
}

nav.navbar{
  justify-content: space-between;
}

div.collapse navbar-collapse{
  justify-content: space-between;
}

body {
  font-family: 'Helvetica'
}

main {
  padding: 1em;
}

div {
  flex-direction: column;
}

div.card-header {
  font-size: 1.2em;
  justify-content: center;
  text-align: center;
}

a.instagram {
  padding: 1px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}

svg.instagram-svg {
  colour: black;
  width: 20px
}
